body,
html {
  font-size: 14;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
}
button,
input {
  touch-action: manipulation;
}

.App {
  max-height: 100vh;
  text-align: center;
}

.main-button-container {
  padding: 10px 15px;
  /* margin: 10px 15px; */
  position: fixed;
  width: calc(100vw - 30px);
  display: flex;
  justify-content: space-between;
  bottom: 0;
  background-color: #fff;
}

.main-button {
  position: relative;
  bottom: 0;
  margin: 0;
  border: solid 1px #000;
  border-radius: 5px;
  width: calc((100vw - 30px - 10px) / 2);
  background-color: #fff;
  font-size: 1.2em;
  height: 45px;

  &:active {
    background-color: #fff;
  }

  &.next {
    background-color: #147efb;
    color: #fff;
  }

  &.disabled {
    border-color: #999;
    color: #999;
  }

  &:focus {
    outline: none;
  }
}
