.create{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 60px;
  right: 40px;
  min-height: 50px;
  min-width: 50px;
  background-color: #555;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #ddd;
  color: #eee;
  font-size: 2em;

  &:hover{
    background-color: #ccc;
  }
  
}