footer{
  display: grid;
  grid-template-columns: 33% auto 33%;
  height: 50px;
  & .button-wrapper{
    display: inline-block;
    & button{
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: 1px solid #000;
      
      &:focus{
        outline: none;
      }    
      &:active{
        background-color: #aaa;
      }
    }
  }
}