header{
  display: grid;
  grid-template-columns: 50px auto 50px;
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #ddd;
  background-color: #fff;
  z-index: 1;

  & .header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2{
      margin: auto;
    }
  }

  & .button-wrapper{

    & button{
      color: #000;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: none;

      &:active{
        color: #aaa;
      }

      & svg{
        height: 100%;
        width: 100%;
      }
    }
  }
}
