.photo-list-view{
  display: grid;
  grid-template-rows: 50px auto 50px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;

  & .photo-list-wrapper{
    margin: 50px 0;
    height: 100%;
    background-color: #5fb955;    
  }
}
