.photo-list-view {
  display: grid;
  grid-template-rows: 50px 50px auto 50px;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  background-color: transparent;

  & .photo-list-wrapper {
    margin: 50px 0;
    height: calc(100vh - 50px - 50px);
    background-color: #fff;
  }
}
