.search-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}
.search-container input {
  margin: auto;
  padding: 0 5px;
  width: calc(100vw - 20px - 10px);
  height: 30px;
  background-color: #eee;
  border: none;
  font-size: 1em;

  &:active,
  &:focus {
    outline: none;
  }
}

.search-indicator-container {
  & h4.search-indicator-txt {
    display: inline;
  }

  & button.search-indicator-cancel-btn {
    font-size: 1em;
    color: #aaa;
    border: none;
    background-color: transparent;
  }
}
.no-photo-item-msg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: calc(100vh - 50px - 50px - 50px - 40px);
  & .no-photo-item-msg-txt {
    color: #aaa;
  }
}
