.create{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 60px;
  right: 10px;
  height: 50px;
  width: 50px;
  background-color: #333;
  border-radius: 50%;
  box-shadow: 1px 3px 3px 1px #8888;
  z-index: 1;
  color: #eee;
  font-size: 2em;
  
  &:active{
    background-color: #888;
  }

  & svg{
    margin: auto;
    /* background-color: #333; */
    color: #eee;
    border-radius: 50%;
    border: none;
    height: 65%;
    width: 65%;

  }
}
